// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  p
    | #{title}:
  // Create a table with one row per result
  table
    tr
      td="First name"
      td &nbsp;
      td="Last name"
      td &nbsp;
      td="Movie name"
      td &nbsp;
      td="Movie rank"
      td &nbsp;
    - for (var inx = 0; inx < results.length; inx++)
        tr
          td=results[inx].FIRST_NAME+" "
          td &nbsp;
          td=results[inx].LAST_NAME+" "
          td &nbsp;
          td=results[inx].NAME+" "
          td &nbsp;
          td=results[inx].RANK+" "
          td &nbsp;
  // Put a click button that lets us return to the index page 
  form(method='get', action='/')
      input(type='submit', value='Return')
