<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

Group Members:

<% if (memberNames.length > 0) { %>

<ul>
  <% for (var i=0; i < memberNames.length; i++) {%>
    <li><%= memberNames[i] %> 
    	<button id='remove_<%= usernames[i] %>'>delete</button>
    </li>
  <% } %>
</ul>

<% } else { %>
<p> There are no members in this group </p>
<% } %>

Add new user to the group:<br>
<input type="text" id="newUsername" value="username">
<button id="addUser">Add</button>
<span id="error">Error, please try again</span>

<script>
   $(document).ready(function() {
        $('#error').hide();
   		$('#addUser').click(function() {
   			var username = $('#newUsername').val();
   			username = username.trim();
   			var info = { 'username': username, 'groupID': <%= groupID %> };
   			$.post("/addUserToGroup", info, function(data, status) {
   				if (data === "0") {
   					$('#error').hide();
   					location.href = "/group?groupID=<%= groupID %>";
   				} else {
   					$('#error').css('color', 'red');
   					$('#error').show();
   				}
   			});
   		});

   		<% if (memberNames.length > 0) { %>
   		<% for (var i=0; i < memberNames.length; i++) {%>
   		    $('#remove_<%= usernames[i] %>').click(function() {
   		    	var info = { groupID: <%= groupID %>, 
   		    	             username: '<%= usernames[i] %>' };
   		    	$.post("/removeUserFromGroup", info, function(data, status) {
   		    		if (data === "0") {
   		    			location.href = "/group?groupID=<%= groupID %>";
   		    		}
   		    	});
   		    })
		<% } %>
		<% } %>
   });
</script>